html,
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: #DCE0D9;
}

.joinInnerContainer {
    width: 700px;
    position: relative;
}

.joinInput {
    margin: 0px;
    padding: 0px;
    width: 100%;
    outline: none;
    height: 50px;
    border-radius: 20px;
}

.button {
    position: absolute;
    top: 0;
    border-radius: 80px;
    right: 0px;
    border: none;
    height: 50px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
        height: 100%;
    }
    .joinInnerContainer {
        width: 90%;
    }
}

button:focus {
    outline: 0;
}