.messages {
    padding: 5% 0;
    overflow: auto;
    flex: auto;
}

.chat-message {
    height: 70%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: flex-start;
    .message {
        margin-left: 0px;
        max-width: 220px;
        padding-left: 0.5rem;
        p {
            font-size: 1rem;
            background-color: #dee2e6;
            padding: 1rem;
            border-radius: 0px 10px 10px 10px;
            font-weight: 300;
            color: black;
        }
        span {
            font-size: 0.8rem;
            font-weight: 200;
            color: #101111;
            padding-left: 0.7rem;
        }
    }
    .mess-right {
        margin-left: auto;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        max-width: 220px;
        padding-right: 0.5rem;
        p {
            text-align: end;
            border-radius: 10px 0px 10px 10px;
            background-color: #0096c7;
            color: white;
        }
        span {
            width: 100%;
            text-align: end;
            padding-left: 0rem;
            padding-right: 0.5rem;
        }
    }
}